<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Sistema de Visitas</title>
</head>
<body>
  <nav>
    <a href="/">Início</a> |
    <a href="/cad">Nova Visita</a> |
    <a href="/animais">Animais</a> |
    <a href="/sobre">Sobre</a> |
    <a href="/editar">Acessar Formularios</a> |
  </nav>
  <hr>
  {{{body}}}
</body>
</html>
