<h1>Cadastrese aqui para fazer sua visita</h1>

<form action="/add" method="POST">
  <p>Nome:</p>
  <input type="text" name="nome" required>

  <p>Email:</p>
  <input type="email" name="email" required>

  <p>Número de Celular:</p>
  <input type="text" name="numeroCelular" required>

  <p>CPF:</p>
  <input type="text" name="cpf" required>

  <p>Animal de interesse:</p>
  <input type="text" name="animal" required>

  <p>Data da Visita:</p>
  <input type="date" name="dataVisita" required>

  <p>Hora da Visita:</p>
  <input type="time" name="horaVisita" required>

  <button type="submit">Cadastrar Visita</button>

  
</form>
